
/* Navigation */
.mainnav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.mainnav li {
    display: inline-block;
}

.mainnav li a {
    color: black; 
    text-decoration: none;
    padding: 5px 20px;
    font-family: monospace , sans-serif;
    font-size: 30px;
}

.mainnav li.active a 
{
  border: 1px solid white;
  background-color: lightgoldenrodyellow;
}

.mainnav li a:hover
{
    border: 1px solid white;
    background-color: lightgoldenrodyellow;
}

.nfooter {
    float: right;
    list-style: none;
    margin-top: 1300px;
}

.nfooter li {
    display: inline-block;
}

.nfooter li a {
    color: black; 
    text-decoration: none;
    padding: 5px 20px;
    font-family: monospace , sans-serif;
    font-size: 30px;
}

.nfooter li.active a 
{
  border: 1px solid white;
  background-color: lightgoldenrodyellow;
}

.mnfooter li a:hover
{
    border: 1px solid white;
    background-color: lightgoldenrodyellow;
}



  #column1 {
    position: relative;
    top: 450px;
    width:20%;
    left: 430px; 
    height: 200px;
  }

  
.img {
    position: absolute;
    top: 200px;
    left: 1100px;
    border-radius: 10%;
    float: right;
    width: 500px;
    padding: 5px;
  }

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:50px;
    text-align: center;

}

.filipino {
    position: absolute;
    top: 1100px;
    left: 120px;
    border-radius: 50%;
}

.indian {
    position: absolute;
    top: 1060px;
    left: 690px;
    border-radius: 10%;
    float: center;
    width: 500px;
    height: 20px;
}

.canadian {
    position: absolute;
    top: 1100px;
    left: 1300px;
    border-radius: 10%;
    width: 500px;
    padding: 5px;
}

h2 {
    position: relative;
    top: 1150px;
    left: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: 
}

h3 {
    position: relative;
    top: 1150px;
    left: 880px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}

h4 {
    position: relative;
    top: 1090px;
    left: 1500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}

#para 
    {
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url("../img/backabout.webp");
    height: 935px;
    background-position:center; 
    background-size: cover;
    position: relative;
    top: 1200px;
    width:800px;
    left: 50px;
    height: 400px;
       
    text-align: center;
    padding : 100px;
    overflow:hidden;
    margin: 0px auto;
    font-weight: 600;
    line-height: 1.1;
    font-size: 70px;
    text-align: left;
    font-size: 3rem;
    color: #EDEEE9;
    font-family: 'Georgia';
    }
    
      

