.mainnav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.mainnav li {
    display: inline-block;
}

.mainnav li a {
    color: black; 
    text-decoration: none;
    padding: 5px 20px;
    font-family: monospace , sans-serif;
    font-size: 30px;
}

.mainnav li.active a 
{
  border: 1px solid white;
  background-color: lightpink;
}

.mainnav li a:hover
{
    border: 1px solid white;
    background-color: lightpink;
}


#colo1 {
    position: relative;
    top: 150px;
    width:20%;
    left: 700px; 
    height: 200px;
   

  }

  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    padding:70px;
    text-align: center;

}

input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid lightpink;
    border-radius: 4px;
  }
  
  input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
#form {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top:200px;
    left: 550px;
    width: 40%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }